.shift-button {
    padding: 8px 16px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.shift-button.selected {
    background-color: #007bff;
    /* 選択時の背景色 */
    color: white;
    /* 選択時の文字色 */
}


.shift-button:hover {
    /* background-color: #007bff; */
    /* ホバー時の背景色 */
    color: blue;
    /* ホバー時の文字色 */
}

.registered {
    background-color: rgba(0, 123, 255, 0.5);
    /* 登録済みボタンの背景色 */
    color: rgba(255, 255, 255, 0.7);
    /* 登録済みボタンの文字色 */
    pointer-events: none;
    /* クリックを無効に */
    cursor: not-allowed;
    /* カーソルを無効に */
}