.selected {
    position: relative;
    overflow: hidden;
    /* リップルアニメーションの影響を避けるため、pointer-events: noneを追加 */
    pointer-events: auto;
}

.selected::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(85, 233, 246, 0.5);
    /* 薄い青色 */
    /* 円形にする */
    transform: translate(-50%, -50%);
    /* 中心に配置 */
    animation: ripple 0.3s ease-out;
    /* アニメーションを追加 */
}

/* 無効化する日付用 */
.inactive-day {
    font-weight: lighter !important;
    color: rgba(0, 0, 0, 0.5) !important;
    cursor: not-allowed !important;
    pointer-events: none !important;
}

@keyframes ripple {
    from {
        transform: translate(-50%, -50%) scale(0);
        /* 初期状態 */
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        /* 最終状態 */
    }
}

/* クリック可能な日付 */
.fc-day.clickable {
    font-weight: bold;
    color: black;
    /* 通常の文字色 */
    pointer-events: auto;
    /* クリックを有効にする */
    cursor: pointer;
    /* 通常のカーソル */
}

/* クリック不可能な日付 */
.fc-day.inactive-day {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
    /* 薄い文字 */
    cursor: not-allowed;
    /* 無効のカーソル */
    pointer-events: none;
    /* クリックイベントを無効にする */
}

.inactive-day {
    color: rgba(0, 0, 0, 0.5);
    /* 薄い字 */
    cursor: not-allowed;
    /* 無効のカーソル */
    pointer-events: none;
    /* クリック無効 */
}

.clickable {
    font-weight: bold;
    /* クリック可能な日を太字に */
}

.selected {
    background-color: rgba(93, 214, 238, 0.5);
    /* 薄い青色 */
}